body, html{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input[type="submit"],
button {
  align-items: center;
  text-align: center;
  border-radius: 10px;
  padding: 5px 10px;
  cursor: pointer;
  transition: 0.2s;

  border-width: 1px;
  font-size: 16px;
  background-color: white;
}

input[type="submit"]:hover ,
button:hover {
  background-color: black;
  color: white;
}

input[type="text"],
input[type="password"] {
  border-radius: 5px;
  border-width: 1px;
  margin-bottom: 25px;
}

.container {
  width: 300px;
  margin: auto;
  margin-top: 10vh;
}

.container,
.form {
  background-color: whitesmoke;
  padding: 20px 10px;
  border-radius: 25px;

  /* this flex section makes it into a vertical flexbox
  align-items centers the items in the flexbox */
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
}

.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.created-container,
.contributed-container {
  position: relative;
  background-color: whitesmoke;
  padding: 20px 10px;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
}

.contributed-container{
  top: 24px;
}

.story-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 20px;
}

.card .title {
  font-size: 22px;
  font-weight: 600;
}

.card .creator {
  font-size: 14px;
}

.story-story{
  position: relative;
  background-color: whitesmoke;
  box-sizing: border-box;

  width: 800px;

  padding: 0px 10px 10px 10px;
  border-radius: 25px;
}

.story-creator{
  font-weight: bold;
  font-size: 18px;
}
.story-adding{
  position: relative;
  background-color: whitesmoke;
  top: 20px;
  box-sizing: border-box;

  width: 800px;

  padding: 0px 10px 10px 10px;
  border-radius: 25px;
}

.add{
  position: relative;
  background-color: whitesmoke;
  top: 20px;
  box-sizing: border-box;

  width: 800px;

  padding: 10px;
  border-radius: 25px;
}

.logout{
  background-color: red;
}
