<!DOCTYPE html>
<html lang="en">
<head>
  <title>Rice Explosion</title>
  <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
  <div class="welcome-container">
      <h1 class="welcome-header">Welcome to <br> Rice Explosion's Word Game!</h1>

      <div class="welcome-text">Do you have an account?</div>
      <form class = "welcome-form">
        <button class= "button" formaction="/login">Login here!</button>
        <br>
        <button class= "button" formaction="/signup">Sign up here!</button>
      </form>
  </div>
</body>
</html>
