<!DOCTYPE html>
<html lang="en">
<head>
    <title>Discover</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <form>
        <button class= "button" formaction="/">discover</button>
        <button class= "button" formaction="/profile">profile</button>
    </form>
    <h1 class="welcome-header">Welcome {{username}}!</h1>
    <div class="created-container">
        <h2>Created Stories</h2>
        <form action='/story' class="story-cards" method="POST">
            {% for story in created_stories %}
            <button class= "button" type="submit" name="{{story[0]}}" class="card">
                <div class="title">{{story[1]}} <div class="creator">{{story[2]}}</div></div>
            </button>
            {% endfor %}
        </form>
    </div>
    <div class="contributed-container">
        <h2>Contributed Stories</h2>
        <form action='/story' class="story-cards" method="POST">
            {% for story in contributed_stories %}
            <button class= "button" type="submit" name="{{story[0]}}" class="card">
                <div class="title">{{story[1]}} <div class="creator">{{story[2]}}</div></div>
            </button>
            {% endfor %}
        </form>
    </div>
</body>
</html>
