<!DOCTYPE html>
<html lang="en">
<head>
    <title>Signup</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <form action="/">
        <button>Home</button>
    </form>
    <div class="signup container">
        <h1>Sign Up</h1>
        <div class="signup-text">Signing up for an account will allow you to create and edit stories!</div>
        <form  class= "signup form" action="/profile" method="POST">
            Username:
            <input type="text" name="username" required>
            Password:
            <input type="password" name="password" required>
            <input type="submit" name="signup">
            {% if error %}
            The user already exists
            {% endif %}
        </form>
    </div>
</body>
</html>
