<!DOCTYPE html>
<html lang="en">
<head>
    <title>Story</title>
</head>
<body>
    {% if username in contributor_list %}
    I'm a contributor
        <div class="story">
        {% for info in story_info %}
        <span>info[1]</span>
        {% endfor %}    
        </div>
        <div class="creator">Created by {{story_info[0][2]}}</div>
        
    {% else %}
        <!-- if user is not a contributor, only shows the last contribution of the story -->
        <div class="story">{{newest_contribution}}</div>
        <form action="/story" method="POST">
            <input type="text" name="contribution">
            <input type="submit" name="{{story_id}}" value="Submit Contribution">
        </form> 
        <div class="creator">Created by {{story_info[0]}}</div>
    {% endif %}

</body>
</html>